
$item_lightGreen: #2c786c

@mixin ipad
  @media(max-width: 768px)
    @content
nav
  z-index: 100
  h6
    font-size: 18px
  td
    padding: 1em 0
.hamburger
  display: none
+ipad
  nav
    @include ipad
      position: fixed
    .hamburger
      display: inline-block
      .hamburg_list
        position: absolute
        left: 0
        right: 0
        background-color: #fff
        width: 100vw
        li
          text-align: center
          padding: 0.5em
    .desktop
      display: none
.login_icon
  font-size: 25px
.hover
  &:hover
    border-bottom: 1px solid #FFC107

//轉跳頁面效果
.page-enter-active,.page-leave-active
  transition: 0.5s
.page-enter,.page-leave-to
  opacity: 0
footer
  background-color: lighten(grey,40)
  ul
    display: flex
    justify-content: center
    align-items: center
  .ig
    color: #F783AC
  i
    font-size: 30px
    margin: 0 0.25em
