@import "~bootstrap/scss/bootstrap";

@mixin ipad
  @media(max-width: 768px)
    @content
@mixin fcenter
  display: flex
  justify-content: center
  align-items: center
img
  height: 350px
  // 讓圖片不會拉伸
  object-fit: cover
.priductPic
  cursor: pointer
  height: 300px
.card_text
  line-height: 2
.discounted
  text-decoration: line-through